%ul
	-@influencers.each do |i|
		%li.row
			.three.columns.alpha
				=placeholdit "210x400"
			.nine.columns.omega
				-i.attributes.each do |k, v|
					%p= "#{k} : #{v}" 
				=link_to i.name, influencer_path(i)