.influencers.row
	-letters = "A".."Z"
	
	%ul.letter-anchors
		-letters.each do |l|
			%li
				%a(href="#" data-letter="letter-#{l}")= l
	
	-letters.each do |letter|
		%section.letter(id="letter-#{letter}")
			%h1=letter
			%a.to-top ^
			%ul
				-if @influencers.has_key?(letter)
					=render partial: 'abc_influencer', collection: @influencers[letter], as: :i
						