.row
	.four.columns.alpha
		=image_tag @look.primary_image.url(:large)
	.eight.columns.omega
		.row
			%h2=@look.title
			=@look.body
		-@look.primary_product_group.tap do |g|
			.primary_group.product_group
				=g.name
				%ul.products
					-g.products.each do |p|
						%li
							=image_tag p.image.url(:medium)
							%p=p.brand
							%p=p.model
							%p=p.price_cents
-@look.secondary_product_groups.each do |g|
	.row.product_group
		=g.name
		%ul.products
			-g.products.each do |p|
				%li
					=image_tag p.image.url(:medium)
					%p=p.brand
					%p=p.model
					%p=p.price_cents

	