=link_to "Influencers", admin_influencers_path

.headshot.row
	=image_tag @influencer.headshot.url(:small)

%h2= @influencer.name
=link_to "Edit", edit_admin_influencer_path(@influencer)

.influencer.row
	-@influencer.attributes.each do |k, v|
		%p= "#{k}, #{v}"
.ul.looks.row
	%h2 Looks

	-@influencer.looks.each do |l|
		.li
			%p=l.title

