// Place all the styles related to the influencers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.letter-anchors {
	li {
		display: inline-block; 
	}
}

section.letter {
	h1, a {
		display: inline-block;
	}

	a.to-top {
		float: right;
		height: 30px;
		width: 30px;

	}
	ul li {
		display: inline-block;
		margin-right: 5px; 
	}
}
